
<!-- <p>Find me in app/views/request/show.html.erb</p>
<p>
  transaction_id = <%= @request.transaction_id %>
</p>
<p>
  mondo_id = <%= @request.mondo_id %>
</p>
<p>
  amount = <%= @request.amount %>
</p>
<p>
  who_from = <%= @request.who_from %>
</p>
Hello -->
<div id = "wrapper">
  <h1>You have a new transaction request</h1>
  <p> <%= @request.who_from %> has requested a payment of
    £<%= @request.amount %> </p>
  <a class="btn" href="http://localhost:3000/request/<%= @request.mondo_id %>/<%= @request.transaction_id%>/pay">Agree</a>
  <a class="btn">Dispute it fam</a>
</div>
